<html>
    <body>
        <form method="POST" action="/submit">
            <input type="text" placeholder="Enter the name" name='textfield' />
            <button>Submit</button>
        </form>
    </body>
</html>